<div class="login-form login">
    <alert ng-repeat="alert in alerts"
           class="alert-danger"
           close="closeAlert($index)">{{alert.msg}}</alert>
    <form name="forgotPasswordForm"
          ng-submit="requestPass()"
          novalidate>
        <div class="top">
            <img src="assets/img/logo.png"
                 alt="icon"
                 class="icon">
            <h1>Reset Password</h1>
        </div>
        <div class="form-area"
             style="padding-top:20px !important;">
            <p>
                <small>Enter your email address that you used to register. We'll send you an email with your username and a link to reset your password.</small>
            </p>
            <div class="group"
                 ng-class="{'has-error': forgotPasswordForm.email.$dirty && forgotPasswordForm.email.$error.pattern}">
                <input type="text"
                       name="email"
                       class="form-control"
                       placeholder="Email Address"
                       ng-model="user.email"
                       ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/"
                       required="true" />
                <i class="fa fa-user"></i>
                <p ng-show="forgotPasswordForm.email.$dirty && forgotPasswordForm.email.$error.pattern"
                   class="help-block">Please Enter Valid Email !</p>
            </div>
            <button type="submit"
                    ng-disabled="forgotPasswordForm.$invalid"
                    class="btn btn-primary btn-block">SUBMIT</button>
        </div>
    </form>
    <div class="footer-links row">
        <div class="col-xs-6">
            <a ui-sref="login">
                <i class="fa fa-sign-in"></i> Login</a>
        </div>
        <div class="col-xs-6 text-right">
            <a ui-sref="register">
                <i class="fa fa-external-link"></i> Register Now</a>
        </div>
    </div>
</div>
