<div id="top"
     class="clearfix"
     ng-controller="headerCtrl">
    <div class="applogo">
        <a href="javascript:void(0)"
           class="logo"><img src="assets/img/logo.png"
                 alt="icon"
                 class="icon logo-icon"></a>
    </div>
    <a href="javascript:void(0)"
       class="sidebar-open-button"
       onclick="sidebarToggle()">
        <i class="fa fa-bars"></i>
    </a>
    <a href="javascript:void(0)"
       class="sidebar-open-button-mobile">
        <i class="fa fa-bars"></i>
    </a>
    <div class="search pull-left"
         style="margin-top: 12px;margin-left: 12px;min-width: 156px;">
        <ui-select ng-model="searchType"
                   search-enabled="false">
            <ui-select-match allow-clear="true"
                             placeholder="Search by">{{$select.selected.title}}</ui-select-match>
            <ui-select-choices repeat="criteria in searchCriterias | filter:$select.search">
                <div ng-bind-html="criteria.title | highlight: $select.search"></div>
            </ui-select-choices>
        </ui-select>
    </div>
    <div class="pull-left"
         style="margin-top: 12px;">
        <input type="text"
               ng-model="searchQuery"
               placeholder="Search query"
               class="form-control">
    </div>
    <a href="javascript:void(0)"
       class="sidepanel-open-button"
       onclick="sidePannelToggle()">
        <i class="fa fa-outdent"></i>
    </a>
    <ul class="top-right">
        <li class="dropdown link">
            <a href="javascript:void(0)"
               data-toggle="dropdown"
               class="dropdown-toggle profilebox"><img src="assets/img/profileimg.png"
                     alt="img">
                <b>{{userName}}</b>
                <span class="caret"></span>
            </a>
            <ul class="dropdown-menu dropdown-menu-list dropdown-menu-right">
                <li>
                    <a href="javascript:void(0)"
                       ng-click="logOut()">
                        <i class="fa falist fa-power-off"></i> Logout</a>
                </li>
            </ul>
        </li>
        <li class="link">
            <a href="javascript:void(0)"
               tooltip="Click here to upload document"
               tooltip-placement="bottom"
               ng-click="caseDocument()"
               class="notifications">
                <i class="fa fa-folder"></i>
            </a>
        </li>
        <li class="link">
            <a href="javascript:void(0)"
               ng-click="refreshChatPosition($event)"
               class="notifications">
                <i class="fa fa-refresh"></i>
            </a>
        </li>
        <li class="link">
            <a href="javascript:void(0)"
               tooltip="Chat history"
               tooltip-placement="bottom"
               ng-click="downLoadChats()"
               class="notifications">
                <i class="fa fa-wechat"></i>
            </a>
        </li>
        <li class="link">
            <a href="javascript:void(0)"
               onclick="sidePannelToggle()"
               class="btn btn-primary">Click here to Transfer clients</a>
        </li>
    </ul>
</div>
<div ng-include="'app/controllers/side_pannel/side_pannel.html'"></div>
<div ng-if="clientList.length">
    <div ng-repeat="client in clientList">
        <div ng-if="isActiveClient(client)">
            <div class="sidebar clearfix">
                <ul class="sidebar-panel nav">
                    <li ng-repeat="tab in tabList"
                        ng-if="tabsStats[client.FFID]">
                        <a href="javascript:void(0)"
                           class="scroll-top"
                           ng-click="changeTab(tab)"
                           ng-class="{'active':activeTab(tab)}">
                            {{tab.title}}
                            <i class="fa fa-check-circle checked-tab float-l"
                               ng-if="isTicked(tab)"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="row page-header padding-0">
            <ul class="nav nav-tabs nav-justified"
                role="tablist">
                <li ng-class="{'active': isActiveClient(client)}"
                    role="presentation"
                    ng-repeat="client in clientList">
                    <a aria-controls="consultant2"
                       ng-click="selectClient(client)"
                       role="tab"
                       data-toggle="tab">{{client.name + ' (' + client.FFID + ')'}}</a>
                </li>
            </ul>
        </div>
        <div ng-repeat="client in clientList"
             ng-if="isActiveClient(client)">
            <div ng-if="isActiveClient(client)"
                 ui-view=""></div>
        </div>
        <div ng-include="'app/controllers/chat_control/chat_control.html'"></div>
    </div>
</div>
